/**
 * @author	이용현
 * @since	2022/05/27
 * @version	v.1.0
 * 
 * 			작업이력 ]
 * 				2022.05.27	-	클래스제작
 * 								담당자 : 이용현
 */

.mxw980 {
	max-width: 980px;
	min-width: 980px;
}
.w33 {
	width: 14.285%;
}
.h500 {
	height: 500px;
	padding-left: 10px!important;
	padding-right: 10px!important;
	overflow: auto;
}
.member {
	font-size: 8px;
	border: 0px;
	background-color: white;
}
.w230 {
	width: 230px;
	margin-bottom: 3px;
}
.maintext {
	margin : 0px;
}
.area {
	color: green;
}
.subbtn {
	padding : 0px!important;
	margin : 0px 5px 0px 0px;
}
#regimem {
	position: relative;
	top: -12px;
	right: 80px;
	display: none;
}
.regimember{
	margin: 0px;
}
.fbtn {
	padding: 4px!important;  
}
.pricebtn1 {
	padding: 0px 10px!important;
}
.pricebtn2 {
	padding: 0px 10px!important;
}
.inputprice {
	width: 20px;
	padding: 0px!important;
	background-color: white;
	border: 1px solid;
}
#decide {
	position: relative;
	top: 80px;
}

#abc > input {
	text-align: center;
}
.menuinputfrm {
	margin: 5px;
}
.citytitle {
	width: 9.09%!important;
}
.wbtn{
	padding: 0px!important;
	position: relative;
	top: -7px;
	
}
.rebtn{
	display: none;
}

.reboard{
	padding: 0px!important;	
}