/**
 * @author	이용현
 * @since	2022/05/29
 * @version	v.1.0
 * 
 * 			작업이력 ]
 * 				2022.05.29	-	클래스제작
 * 								담당자 : 이용현
 */

.w33 {
	width: 14.285%;
}
.member {
	font-size: 8px;
	border: 0px;
	background-color: white;
}
.messbtn {
	padding: 0px;
}
textarea {
	resize: none;
}