
.btn{
	margin-top:20px;
	width:80px;
	height:30px;
	font-size:15px;
}
h1{
		margin-top:3%;
		margin-left:48%;
}

#content{
	margin-left:-3%;
	text-align:center;
}

#faq{
	margin-left:25%;
	margin-top:5%;
	width:800px;
	height:700px;
	border:solid;
}
ul{
	margin-left:15%;
	font-size:20px;
}

.btn{
	width:100px;
	height:40px;
	font-size:20px;
}

#buttonArea{
	margin-top:20%;
	margin-left:32%;

}

#backBtn{
	width:100px;
	height:40px;
	font-size:20px;
	margin-top:10%;
		margin-left:45%;
	
	
}