#faq {
	margin-top:50px;
	margin-left:28%;
}
h1{
	margin-left:18%;
	margin-bottom:5%;
}
#title {
	width: 500px;
	height: 40px;
	font-size: 20px;
	margin-bottom:10px;
}

#content {

	width: 500px;
	height: 300px;   
	font-size: 20px;
}

.faqInsert{
	font-size:30px;
}
.btn{
	margin-top:20px;
	margin-left:21%;
	width:80px;
	height:30px;
	font-size:15px;
	
}
#btn2{
	position: absolute;	
	margin-top:-30px;
	margin-left:360px;
	float: left;
}